<% page_title "Import ##{@import.id} (#{@import.original_filename})" %>

    <h2 class="summary">New import</h2>
    <p><%= @import.rows.size %> rows</p>

    <%= form_tag run_admin_import_path(@import), id: 'run-import' do %>
      <button>Run</button>
    <% end %>

<p id='import-connection-status'>Live feed disconnected</p>
<table class='import' data-import-id='<%= @import.id %>'>
  <tr>
    <th>1</th>
    <th>Title</th>
    <th>URL</th>
    <th>Errors</th>
  </tr>

  <% @rows.each do |row_number, attributes| %>
    <tr>
      <td><%= row_number %></td>
      <td><%= attributes['title'] %></td>
      <td><%= attributes['old_url'] %></td>
      <td class='error'><%= attributes['errors'] %></td>
    </tr>
  <% end %>
</table>
